.body {
    margin: 0;
}

.conteiner {
    margin: 0px 166px;
}

.header {
    background: url(/image/HERO.jpg) no-repeat;
    height: 100vh;
    background-size: cover;
}

.header-line {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-item {
    color: white;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 25px;

    margin-right: 25px;

    transition: color 0.3s linear;
}

.nav-item:hover {
    color: red;
}

.cart {
    position: relative;
    border-right: 2px solid #FFFFFF;
    padding-right: 10px;
    height: 50px;
}

.cart-img {
    position: absolute;
    top: 18px;
    right: 7px;
}

.num {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    transition: color 0.3s linear;
    margin: 10px 10px 10px 10px;
}

.num:hover {
    color: red;
}

.phonetext {
    font-size: 20px;
    font-weight: 400;
    color: white;
}

.phone-holder {
    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

.button {
    background-color: #FF7400;
    color: white;
    text-decoration: none;
    font-weight: 700;
    padding: 20px 24px;
    font-family: 'Open Sans', sans-serif;

    transition: background-color 0.2s linear;
}

.button:hover {
    background-color:#ff7300bf
}